@charset "utf-8";
html,body {
    height: 100%;
}
body {
    background: grey url(../img/base.png) repeat;
    background-color: grey !important;
}
* {
    box-sizing: content-box !important;
}
.m-inner {
    min-height: 100%;
    padding: 2em 2em 2em 2em;
    background: #FFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 0px 8px #999;
    -webkit-box-shadow: 0px 0px 8px #999;
    box-shadow: 0px 0px 8px #999;
    margin:0 auto;
    max-width:740px;
}
#readme .markdown-body, #readme .plain {
    padding: 0 !important;
    border: none !important;
}
