<div class="header header-logged-in true" role="banner">
    <div class="container clearfix">
        <a class="header-logo-invertocat" href="https://github.com/8427003"> <span class="mega-octicon octicon-mark-github"></span> </a>
        <ul class="header-nav left" role="navigation">
            <li class="header-nav-item">
                <a href="/" class="header-nav-link">Home</a>
            </li>
            <li class="header-nav-item">
                <a href="https://github.com/lijun401338/lijun401338.github.io" class="header-nav-link">Blog Repository</a>
            </li>
            <li class="header-nav-item">
                <a class="header-nav-link" href="https://gist.github.com/8427003">My Gist</a>
            </li>
        </ul>
    </div>
</div>
